.homedark-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, .7);
}

.offers-bg {
    display: flex;
    position: relative;
    width: 100%;
    height: 25em;
    background: url('../Images/Deals/deal1.jpg') no-repeat;
    background-size: cover;
}

.offer-left {
    width: 100%;
    height: 5em;
    background: url('../Images/expand_icon.png') no-repeat;
    background-size: contain;


}

.offer-right {
    width: 100%;
    height: 5em;
    background: url('../Images/expand_icon.png') no-repeat;
    background-size: contain;
}