:root {
  margin: 0;
  padding: 0;
  --default-fontfamily: ecomfont;
}

html,
body {
  overflow: hidden;
}

@font-face {
  font-family: ecomfont;
  src: url('../Fonts/ITC Officina Sans Bold.otf');
}

* {
  padding: 0;
  margin: 0;
}