* {
    font-family: var(--default-fontfamily);
}

.navbar-pos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    height: 4em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}

.not-scrolled {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

@media screen and (min-width:768px) {

    .navbar-links {
        display: flex;
        width: 98%;
        height: 100%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: .5em;
        align-items: center;
        align-content: center;
        justify-items: center;

    }

    .navbar-logo {
        display: flex;
        align-items: center;
    }

    .navbar-location {
        display: flex;
        flex-direction: column;
        width: 20em;
        height: 3em;
        padding: 5px;
        margin: 0;
        margin-right: 10px;

    }

    .navbar-lang {
        display: flex;
        width: 5em;
        height: 2.5em;
        justify-items: center;
        align-items: center;
        padding: 10px;
        margin-left: 15px;
    }

    .navbar-cart {
        display: flex;
        align-items: center;
        height: 2em;
        width: 4em;
        justify-content: center;

    }

}




@media screen and (max-width:480px) {
    .navbar-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 98%;
        height: 100%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: .5em;
        align-items: center;
        align-content: center;
        justify-items: center;

    }

    .navbar-logo {
        display: flex;
        align-items: center;
        max-width: 2em;
    }

    .navbar-location {
        display: none;

    }

    .navbar-lang {
        display: none;

    }

    .navbar-cart {
        display: none;
        align-items: center;
        height: 2em;
        width: .2em;
        justify-content: center;

    }
}



.navbar-links span {
    text-decoration: none;
    color: white;
}


.navbar-linkitem {
    margin-right: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-linkitem:hover {
    border: 1px solid white;
}

/* .navbar-linkitem {
    text-align: center;
}


.navbar-linkitem:hover {
    border: 2px solid white;
} */

/* .navbar-linkitem:nth-child(1):hover {
    background-color: white;
    color: black;
}

.navbar-linkitem:nth-child(1) {
    /* background-color: rgb(81, 132, 241);
    color: white;
    padding: 0 1em;
} */


.navbar-cart img {
    width: clamp(.2em, 2.5em);
    height: auto;
}

.navbar-cart-img {
    display: block;
    width: 45px;
    height: 45px;
    background: url('../src/Images/cart_icon.png') no-repeat;
    background-size: contain;
}

.navbar-cart-info {
    display: flex;
    justify-content: center;
}

#cart-amount {
    position: absolute;
    font-weight: bolder;
    font-size: 1.3em;
    color: orange;
}

/* navbanner */
.banner {
    height: 2em;
    width: 100%;
    background-color: #232F3E;
    justify-items: flex-start;
    padding-top: 0;
    padding-bottom: 2.5em;
}

.banner-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.banner-list button {
    width: 1em;
    background: transparent;
    border: none;
    color: white;
}


.banner-list li {
    display: inline-block;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
    padding: 10px;
}

.banner-list li:first-child {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 1em;
    padding-right: 1em;
}

.banner-menuicon {
    display: flex;
    background-image: url('../Images/all_menu_icon.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    filter: invert();
}


.banner-list li:hover {
    outline: 2px solid white;
}

/* language */

.navbar-lang:hover {

    outline: 2px solid white;
}

.navbar-lang span {
    text-align: center;
    margin-left: 5px;
}

.navbar-lang button {
    background: url('../Images/lang_icon.png') no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;


}

/* location */

.navbar-location:hover {
    outline: 2px solid white;
}

.navbar-location-icon {
    display: inline-block;
    background: url('../Images/location_icon.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    filter: invert();
    padding: 0;
}