* {
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(0, 0, 0, .9);
    height: 4em;
}

.navbar-links {
    display: flex;
    width: 98%;
    height: 100%;
    margin: auto;
    justify-content: right;
    padding-top: 1em;
    padding-bottom: .5em;
    align-items: center;

}

.navbar-links span {
    text-decoration: none;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-linkitem {
    margin-right: 1em;
}

/* .navbar-linkitem {
    text-align: center;
}


.navbar-linkitem:hover {
    border: 2px solid white;
} */

/* .navbar-linkitem:nth-child(1):hover {
    background-color: white;
    color: black;
}

.navbar-linkitem:nth-child(1) {
    /* background-color: rgb(81, 132, 241);
    color: white;
    padding: 0 1em;
} */
.navbar-cart {
    display: flex;
    align-items: center;
}

.navbar-cart img {
    width: 2.5em;
    height: auto;
}

.navbar-cart-img {
    display: block;
    width: 45px;
    height: 45px;
    background: url('../src/Images/cart_icon.png') no-repeat;
    background-size: contain;
}

.navbar-cart-info {
    display: flex;
    justify-content: center;
}

#cart-amount {
    position: absolute;
    font-weight: bolder;
    font-size: 1.3em;
    color: orange;
}